body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.parallax {
	background-image: url('https://cdn2.yamaha-motor.eu/prod/product-assets/2022/MT125/2022-Yamaha-MT125-EU-Tech_Black-Studio-001-03.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.parallax-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 25px;
	padding: 0,5px;
}

.content {
	padding: 200px;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #2e2e2e;
  }
  
  ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }
  
  li {
	float: right;
  }
  
  a {
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
  }
  
  a:hover {
	background-color: #474747;
  }
  table{

    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse ;
}

th{
background-color: black;
color: white;
}


td{

border: 2px solid black;
padding-left: 40px;
padding-right: 40px;
padding-top: 10px;
padding-bottom: 10px;
}

  